.fundo{
    background: rebeccapurple;
}
.Login{
    margin : 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    display: flex;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Login--header{
    display: flex;
    justify-content: space-between;
}

.Login--container{
    background-color: #ffffff;
    background: #FFFFFF;
    padding: 60px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}